net "rst"  loc = "p51";

net "ir<0>"  loc = "p4";
net "ir<1>"  loc = "p5";
net "ir<2>"  loc = "p8";
net "ir<3>"  loc = "p9";

net "ir<4>"  loc = "p11";
net "ir<5>"  loc = "p12";
net "ir<6>"  loc = "p15";
net "ir<7>"  loc = "p16";

net "ir<8>"  loc = "p18";
net "ir<9>"  loc = "p19";
net "ir<10>"  loc = "p22";
net "ir<11>"  loc = "p23";

net "ir<12>"  loc = "p24";
net "ir<13>"  loc = "p25";
net "ir<14>"  loc = "p28";
net "ir<15>"  loc = "p29";

net "ABUS<8>"  loc = "p31";
net "ABUS<9>"  loc = "p33";
net "ABUS<10>"  loc = "p34";
net "ABUS<11>"  loc = "p35";

net "ABUS<12>"  loc = "p36";
net "ABUS<13>"  loc = "p39";
net "ABUS<14>"  loc = "p40";
net "ABUS<15>"  loc = "p41";

net "DBUS<0>"  loc = "p42";
net "DBUS<1>"  loc = "p45";
net "DBUS<2>"  loc = "p47";
net "DBUS<3>"  loc = "p48";

net "DBUS<4>"  loc = "p49";
net "DBUS<5>"  loc = "p50";
net "DBUS<6>"  loc = "p55";
net "DBUS<7>"  loc = "p56";

net "DBUS<8>"  loc = "p60";
net "DBUS<9>"  loc = "p61";
net "DBUS<10>"  loc = "p62";
net "DBUS<11>"  loc = "p63";

net "DBUS<12>"  loc = "p2";
net "DBUS<13>"  loc = "p108";
net "DBUS<14>"  loc = "p109";
net "DBUS<15>"  loc = "p112";

net "ABUS<0>"  loc = "p126";
net "ABUS<1>"  loc = "p127";
net "ABUS<2>"  loc = "p129";
net "ABUS<3>"  loc = "p202";

net "ABUS<4>"  loc = "p203";
net "ABUS<5>"  loc = "p205";
net "ABUS<6>"  loc = "p206";
net "ABUS<7>"  loc = "p103";

net "nPRD"  loc = "p102";
net "nPWR"  loc = "p100";
net "nPREQ"  loc = "p99";

net "nWR"  loc = "p98";
net "nBLE"  loc = "p83";
net "nBHE"  loc = "p82";
net "nRD"  loc = "p77";
net "nMREQ"  loc = "p185";

net "bst<3>"  loc = "p196";
net "bst<2>"  loc = "p193";
net "bst<1>"  loc = "p192";
net "bst<0>"  loc = "p190";

net "nMREQ"  loc = "p168";
net "nWR"  loc = "p152";
net "nRD"  loc = "p139";
net "nBHE"  loc = "p138";
net "nBLE"  loc = "p137";

net "DBUS<0>" loc ="p167";
net "DBUS<1>" loc ="p165";
net "DBUS<2>" loc ="p164";
net "DBUS<3>" loc ="p163";
net "DBUS<4>" loc ="p162";
net "DBUS<5>" loc ="p161";
net "DBUS<6>" loc ="p160";
net "DBUS<7>" loc ="p153";
net "DBUS<8>" loc ="p120";
net "DBUS<9>" loc ="p122";
net "DBUS<10>" loc ="p123";
net "DBUS<11>" loc ="p128";
net "DBUS<12>" loc ="p132";
net "DBUS<13>" loc ="p133";
net "DBUS<14>" loc ="p134";
net "DBUS<15>" loc ="p135";

net "IODB<0>"  loc = "p154";
net "IODB<1>"  loc = "p148";
net "IODB<2>"  loc = "p142";
net "IODB<3>"  loc = "p136";
net "IODB<4>"  loc = "p130";
net "IODB<5>"  loc = "p124";
net "IODB<6>"  loc = "p118";
net "IODB<7>"  loc = "p110";

net "IODB<0>"  loc = "p186";
net "IODB<1>"  loc = "p187";
net "IODB<2>"  loc = "p189";
net "IODB<3>"  loc = "p179";
net "IODB<4>"  loc = "p178";
net "IODB<5>"  loc = "p177";
net "IODB<6>"  loc = "p172";
net "IODB<7>"  loc = "p171";

net "ABUS<0>" loc ="p179";
net "ABUS<1>" loc ="p178";
net "ABUS<2>" loc ="p177";
net "ABUS<3>" loc ="p172";
net "ABUS<4>" loc ="p171";
net "ABUS<5>" loc ="p151";
net "ABUS<6>" loc ="p150";
net "ABUS<7>" loc ="p147";
net "ABUS<8>" loc ="p146";
net "ABUS<9>" loc ="p113";
net "ABUS<10>" loc ="p115";
net "ABUS<11>" loc ="p116";
net "ABUS<12>" loc ="p119";
net "ABUS<13>" loc ="p140";
net "ABUS<14>" loc ="p144";
net "ABUS<15>" loc ="p145";