//! **************************************************************************
// Written by: Map P.40xd on Fri Jul 18 18:08:18 2014
//! **************************************************************************

SCHEMATIC START;
COMP "IOin<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "IOin<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "IOin<2>" LOCATE = SITE "P91" LEVEL 1;
COMP "IOin<3>" LOCATE = SITE "P90" LEVEL 1;
COMP "IOin<4>" LOCATE = SITE "P89" LEVEL 1;
COMP "IOin<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "IOin<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "IOin<7>" LOCATE = SITE "P78" LEVEL 1;
COMP "nRD" LOCATE = SITE "P139" LEVEL 1;
COMP "nWR" LOCATE = SITE "P152" LEVEL 1;
COMP "clk" LOCATE = SITE "P75" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "rst" LOCATE = SITE "P51" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "IOout<0>" LOCATE = SITE "P196" LEVEL 1;
COMP "IOout<1>" LOCATE = SITE "P193" LEVEL 1;
COMP "IOout<2>" LOCATE = SITE "P192" LEVEL 1;
COMP "IOout<3>" LOCATE = SITE "P190" LEVEL 1;
COMP "IOout<4>" LOCATE = SITE "P3" LEVEL 1;
COMP "IOout<5>" LOCATE = SITE "P200" LEVEL 1;
COMP "IOout<6>" LOCATE = SITE "P199" LEVEL 1;
COMP "IOout<7>" LOCATE = SITE "P197" LEVEL 1;
COMP "nBHE" LOCATE = SITE "P138" LEVEL 1;
COMP "nBLE" LOCATE = SITE "P137" LEVEL 1;
COMP "nPRD" LOCATE = SITE "P102" LEVEL 1;
COMP "nPWR" LOCATE = SITE "P100" LEVEL 1;
COMP "IR<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "IR<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "IR<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "IR<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "IR<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "IR<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "IR<6>" LOCATE = SITE "P15" LEVEL 1;
COMP "IR<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "IR<8>" LOCATE = SITE "P18" LEVEL 1;
COMP "IR<9>" LOCATE = SITE "P19" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "P168" LEVEL 1;
COMP "nPREQ" LOCATE = SITE "P99" LEVEL 1;
COMP "ABUSout<0>" LOCATE = SITE "P126" LEVEL 1;
COMP "ABUSout<1>" LOCATE = SITE "P127" LEVEL 1;
COMP "ABUSout<2>" LOCATE = SITE "P129" LEVEL 1;
COMP "ABUSout<3>" LOCATE = SITE "P202" LEVEL 1;
COMP "ABUSout<4>" LOCATE = SITE "P203" LEVEL 1;
COMP "ABUSout<5>" LOCATE = SITE "P205" LEVEL 1;
COMP "ABUSout<6>" LOCATE = SITE "P206" LEVEL 1;
COMP "ABUSout<7>" LOCATE = SITE "P103" LEVEL 1;
COMP "ABUSout<8>" LOCATE = SITE "P31" LEVEL 1;
COMP "ABUSout<9>" LOCATE = SITE "P33" LEVEL 1;
COMP "IR<10>" LOCATE = SITE "P22" LEVEL 1;
COMP "IR<11>" LOCATE = SITE "P23" LEVEL 1;
COMP "IR<12>" LOCATE = SITE "P24" LEVEL 1;
COMP "IR<13>" LOCATE = SITE "P25" LEVEL 1;
COMP "IR<14>" LOCATE = SITE "P28" LEVEL 1;
COMP "IR<15>" LOCATE = SITE "P29" LEVEL 1;
COMP "DBUSout<0>" LOCATE = SITE "P42" LEVEL 1;
COMP "DBUSout<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "DBUSout<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "DBUSout<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "DBUSout<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "DBUSout<5>" LOCATE = SITE "P50" LEVEL 1;
COMP "DBUSout<6>" LOCATE = SITE "P55" LEVEL 1;
COMP "DBUSout<7>" LOCATE = SITE "P56" LEVEL 1;
COMP "DBUSout<8>" LOCATE = SITE "P60" LEVEL 1;
COMP "DBUSout<9>" LOCATE = SITE "P61" LEVEL 1;
COMP "ABUSout<10>" LOCATE = SITE "P34" LEVEL 1;
COMP "ABUSout<11>" LOCATE = SITE "P35" LEVEL 1;
COMP "ABUSout<12>" LOCATE = SITE "P36" LEVEL 1;
COMP "ABUSout<13>" LOCATE = SITE "P39" LEVEL 1;
COMP "ABUSout<14>" LOCATE = SITE "P40" LEVEL 1;
COMP "ABUSout<15>" LOCATE = SITE "P41" LEVEL 1;
COMP "bst<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "bst<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "bst<2>" LOCATE = SITE "P77" LEVEL 1;
COMP "bst<3>" LOCATE = SITE "P185" LEVEL 1;
COMP "ABUS<10>" LOCATE = SITE "P115" LEVEL 1;
COMP "ABUS<11>" LOCATE = SITE "P116" LEVEL 1;
COMP "ABUS<12>" LOCATE = SITE "P119" LEVEL 1;
COMP "ABUS<13>" LOCATE = SITE "P140" LEVEL 1;
COMP "ABUS<14>" LOCATE = SITE "P144" LEVEL 1;
COMP "ABUS<15>" LOCATE = SITE "P145" LEVEL 1;
COMP "DBUS<10>" LOCATE = SITE "P123" LEVEL 1;
COMP "DBUS<11>" LOCATE = SITE "P128" LEVEL 1;
COMP "DBUS<12>" LOCATE = SITE "P132" LEVEL 1;
COMP "DBUS<13>" LOCATE = SITE "P133" LEVEL 1;
COMP "DBUS<14>" LOCATE = SITE "P134" LEVEL 1;
COMP "DBUS<15>" LOCATE = SITE "P135" LEVEL 1;
COMP "ABUS<0>" LOCATE = SITE "P179" LEVEL 1;
COMP "ABUS<1>" LOCATE = SITE "P178" LEVEL 1;
COMP "ABUS<2>" LOCATE = SITE "P177" LEVEL 1;
COMP "ABUS<3>" LOCATE = SITE "P172" LEVEL 1;
COMP "ABUS<4>" LOCATE = SITE "P171" LEVEL 1;
COMP "ABUS<5>" LOCATE = SITE "P151" LEVEL 1;
COMP "ABUS<6>" LOCATE = SITE "P150" LEVEL 1;
COMP "ABUS<7>" LOCATE = SITE "P147" LEVEL 1;
COMP "ABUS<8>" LOCATE = SITE "P146" LEVEL 1;
COMP "ABUS<9>" LOCATE = SITE "P113" LEVEL 1;
COMP "DBUS<0>" LOCATE = SITE "P167" LEVEL 1;
COMP "DBUS<1>" LOCATE = SITE "P165" LEVEL 1;
COMP "DBUS<2>" LOCATE = SITE "P164" LEVEL 1;
COMP "DBUS<3>" LOCATE = SITE "P163" LEVEL 1;
COMP "DBUS<4>" LOCATE = SITE "P162" LEVEL 1;
COMP "DBUS<5>" LOCATE = SITE "P161" LEVEL 1;
COMP "DBUS<6>" LOCATE = SITE "P160" LEVEL 1;
COMP "DBUS<7>" LOCATE = SITE "P153" LEVEL 1;
COMP "DBUS<8>" LOCATE = SITE "P120" LEVEL 1;
COMP "DBUS<9>" LOCATE = SITE "P122" LEVEL 1;
COMP "DBUSout<10>" LOCATE = SITE "P62" LEVEL 1;
COMP "DBUSout<11>" LOCATE = SITE "P63" LEVEL 1;
COMP "DBUSout<12>" LOCATE = SITE "P2" LEVEL 1;
COMP "DBUSout<13>" LOCATE = SITE "P108" LEVEL 1;
COMP "DBUSout<14>" LOCATE = SITE "P109" LEVEL 1;
COMP "DBUSout<15>" LOCATE = SITE "P112" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

